<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/addUser" method="POST">
    FirstName: <input type="text" name="firstName"/>
    <br> </br>
    LastName <input type="text" name="lastName"/>
    <br> </br>
    Date Of Birth <input type="text" name="dateOfBirth"/>
    <br> </br>
    Country Code 1 <input type="text" name="countryCode_0"/>
    <br> </br>
    Inner Number 1 <input type="text" name="innerNumber_0"/>
    <br> </br>
    Country Code 2 <input type="text" name="countryCode_1"/>
    <br> </br>
    Inner Number 2 <input type="text" name="innerNumber_1"/>
    <br> </br>
    Country Code 3 <input type="text" name="countryCode_2"/>
    <br> </br>
    Inner Number 3 <input type="text" name="innerNumber_2"/>
    <br> </br>
    <input type="submit" value="Ok">
</form>
</body>
</html>

