<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table cellspacing="2" border="1" cellpadding="5" width="800">
    <tr>
        <th>id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Date of Birth</th>
        <th>CountryCode</th>
        <th>InnerNumber</th>
    </tr>
    <#list userList as user>
        <tr>
            <td>${user.getId()}</td>
            <td>${user.getFirstName()}</td>
            <td>${user.getLastName()}</td>
            <td>${user.getDateOfBirth()}</td>
            <#assign x = 1>
                <td>
                    <#list user.getPhoneList() as phones>
                        CountryCode ${x} : ${phones.getCountryCode()}
                        <br> </br>
                        <#assign x = x + 1>
                    </#list>
                </td>
                <#assign x = 1>
                    <td>
                        <#list user.getPhoneList() as phones>
                            Inner Number ${x} : ${phones.getInnerNumber()}
                            <br> </br>
                            <#assign x = x + 1>
                        </#list>
                    </td>
                    <td><a href="/delete?id=${user.getId()}">Delete</a></td>
        </tr>
    </#list>
</table>
</body>
</html>
